version: '3.8'
services:
  backend:
    build: .
    restart: always
    command: uvicorn main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    env_file:
      - ./.env
    ports:
      - 8000:8000
    depends_on:
      - mongo_db
  mongo_db:
    image: mongo:latest
    ports:
    - 27017:27017
    volumes:
    - mongodb:/data/db
    - mongodb_config:/data/configdb
volumes:
 mongodb:
 mongodb_config:
